// Fonts defaults
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap');

// Cores do site
$dark: #253629;
$dark2: #495A4D;
$pri: #248232;
$sec: #FFFCE4;
$light: #FCFFFC;
$danger: #FF533D;
$alert: #FEC200;
$progress: #1ADA37;

// Fonts
$font-default: 'Saira';
$font-sec: 'Luckiest Guy';

// Consulta de media queries
@mixin tamanho-tela($size) {
  @if $size==apenas-celular {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @else if $size==celular {
    @media (min-width: 576px) {
      @content;
    }
  }

  @else if $size==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $size==desktop {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $size==desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
