.banner {
  padding-top: 140px;

  .fundo {
    background: conic-gradient(from 45.18deg at 76.8% 50%, #2BA84A 0deg, #DFB018 360deg);
  }

  .content {
    position: relative;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url('../images/banner-principal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .titulo {
    h1 {
      font-family: $font-sec, sans-serif;
      font-style: normal;
      font-weight: 400;
      color: $light;
      font-size: 5rem;
      margin: 0;
    }
  }

  .felicidade {
    width: 260px;

    img {
      width: inherit;
    }
  }
}
