:root {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: $light;
  color: $dark;
  font-style: normal;
  font-family: $font-default,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

// Container principal
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

// Título das seções
.title-sections {
  text-align: center;
  font-size: 2em;

  h2 {
    font-size: inherit;
    margin-bottom: 30px;
    font-weight: 400;
  }
}

// Header do site
.header {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 15px 0px;
  background: linear-gradient(180deg, #2A8D38 -24.12%, #1E5227 110%);
  display: flex;
  justify-content: center;

  .logo {
    display: block;
    max-width: 200px;

    img {
      width: inherit;
    }
  }

  .header-content {
    display: grid;
    grid-template-columns: 1fr 30px;

    @include tamanho-tela(celular) {
      grid-template-columns: 1fr 1fr;
    }

    @include tamanho-tela(desktop) {
      grid-template-columns: 2fr 3fr;
    }
  }

  .menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;

    @include tamanho-tela(desktop) {
      display: block;
    }

    ul {
      display: flex;

      a {
        padding: 5px;
        margin: 0px 10px;
        position: relative;

        &::after {
          @extend %hover;
          bottom: 0px;
        }

        &:hover::before {
          width: 100%;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .menu-mobile {
    border-radius: 50%;
    width: 32px;
    transition: .2s ease-in-out;
    display: block;

    &.iPhone {
      display: none;
    }

    &:hover {
      border: 2px solid $sec;
    }

    img {
      border-radius: 50%;
      width: inherit;
    }
  }
}

// Barra de pesquisa
.input-explorer {
  position: relative;
  max-width: 190px;
  width: 100%;
  display: none;

  @include tamanho-tela(celular) {
    display: block;
  }

  &.hide {
    display: block;

    @include tamanho-tela(celular) {
      display: none;
    }
  }

  .search-input {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color: $light;
    border-bottom-width: thin;
    outline: none;
    color: $light;
    padding: 5px 30px 5px 8px;
    width: inherit;
  }

  .icon-search {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    border: none;
    background: transparent;
    width: 14px;
    padding: 5px;
    height: 14.5px;
    background: url('../images/search-icon.svg') no-repeat;
    font-size: 0px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-image: url('../images/search-icon-green.svg');
    }
  }
}

// Rodapé do site
.footer {
  background-color: $dark;
  color: $light;
  padding: 60px 0px;
  margin-top: 120px;

  .titulo {
    text-align: center;
    font-family: $font-sec;
    font-weight: normal;
    font-size: 1.825rem;
    margin-bottom: 30px;
  }

  .lista-perguntas {
    .tit {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      cursor: pointer;

      &::before {
        content: url('../images/dot.svg');
        display: block;
        margin-right: 10px;
        height: 20px;
        top: 0;
        line-height: 1;
      }

      &.active {
        &+.info {
          max-height: 500px;

          padding: {
            bottom: 20px;
          }
        }
      }
    }

    .info {
      padding: 0px;
      border-bottom: 1px solid $alert;

      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s, padding 1s;
    }
  }
}

.direitos {
  background: linear-gradient(180deg, #2A8D38 -24.12%, #1E5227 110%);
  padding: 15px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 130px;

      img {
        width: inherit;
      }
    }

    .copy {
      color: $light;
    }

  }


}

// dots carousel
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  background: rgba($dark, .7);
  width: 16px;
  height: 16px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $light;
}
