.carousel {
  margin-top: 120px;

  // nav
  .owl-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 0px !important;

    button {
      margin: 0 !important;
      background-color: rgba($dark, .4) !important;
      outline: 0;

      &:hover {
        background-color: rgba($dark, .9) !important;
      }

      span {
        color: $light;
        font-size: 3rem;

        @include tamanho-tela(celular) {
          font-size: 6rem;
        }
      }

      &.owl-prev,
      &.owl-next {
        padding: 0px 20px !important;

        @include tamanho-tela(celular) {
          padding: 0px 40px !important;
        }
      }
    }


  }

  // dots carousel
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
  }

  .owl-theme .owl-dots .owl-dot span {
    background: rgba($dark, .7);
    width: 16px;
    height: 16px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $light;
  }
}

.compra {
  margin-top: 30px;

  .container {
    display: grid;
    grid-template-columns: 1fr;

    @include tamanho-tela(tablet) {
      grid-template-columns: 1fr 2fr;
      column-gap: 30px;
      row-gap: 60px;
    }

    @include tamanho-tela(desktop) {
      grid-template-columns: 1fr 1fr;
    }

    .descricao {
      font-size: 110%;

      @include tamanho-tela(celular) {
        font-size: 120%;
      }

      h2 {
        font-size: 1.6em;
        margin-bottom: 20px;
      }

      p {
        font-size: .9em;
        line-height: 1.4;
        margin-bottom: 30px;

        @include tamanho-tela(tablet) {
          margin-bottom: 0px;
        }
      }
    }

    .operacao {
      .view1 {
        display: flex;
        flex-direction: column;

        @include tamanho-tela(celular) {
          row-gap: 30px;
          column-gap: 30px;
          flex-direction: row;
        }

        .button {
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          line-height: 1;

          &:first-child {
            margin-bottom: 30px;
            background-color: $dark;

            &:hover {
              background-color: lighten($dark, 10%);
            }
          }

          @include tamanho-tela(celular) {
            flex: 2;

            &:first-child {
              margin: 0;
            }
          }
        }
      }

      hr {
        background-color: $alert;
        border: none;
        height: 5px;
        margin: 20px 0px;
      }

      .view2 {
        display: flex;
        flex-wrap: wrap;

        @include tamanho-tela(celular) {
          align-items: flex-start;
          justify-content: space-between;
          column-gap: 30px;
          flex-wrap: nowrap;
        }

        .button {
          margin: 20px 0 0 0;
          width: 100%;

          @include tamanho-tela(celular) {
            margin: 0;
            max-width: 270px;
          }
        }
      }

      .box-reserva {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        color: $light;
        margin-top: 30px;

        @include tamanho-tela(celular) {
          grid-template-columns: repeat(4, 1fr);
        }

        .item {
          background-color: $dark;
          border: 3px dashed $progress;
          display: flex;
          min-height: 80px;
          align-items: center;
          font-weight: 700;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

  }

}

.contagem {
  margin-top: 60px;
  scroll-margin-top: 90px;
  display: none;

  &.active {
    display: block;
  }

  @include tamanho-tela(tablet) {
    margin-top: 30px;
  }

  .escolha-de-numeros {
    width: 100%;
    border: 3px dashed $dark;
    background-color: $sec;
    padding: 20px;

    .numeros {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @include tamanho-tela(celular) {
        grid-template-columns: repeat(7, 1fr);
      }

      @include tamanho-tela(tablet) {
        grid-template-columns: repeat(10, 1fr);
        gap: 30px;
      }

      @include tamanho-tela(desktop) {
        grid-template-columns: repeat(12, 1fr);
      }

      .item {
        background-color: rgba($dark2, .9);
        color: $light;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 4px 4px 4px rgba($dark, 0.25);

        &:hover {
          background-color: lighten($dark2, 15%);
        }

        &.escolhido {
          background-color: rgba($danger, 1);
          cursor: no-drop;
        }

        &.escolha {
          background-color: rgba($dark, 1);
        }

        p {
          font-size: 1.5rem;
        }
      }
    }

    .numeros-escolhidos {
      display: none;
      margin-top: 30px;
      justify-content: space-between;
      flex-direction: column;

      &.active {
        display: flex;
      }

      @include tamanho-tela(celular) {
        flex-direction: row;
        align-items: flex-end;
      }


      .conteudo {
        flex: 2;
        margin-bottom: 30px;

        @include tamanho-tela(celular) {
          margin-bottom: 0px;
          margin-right: 60px;
        }

        h4 {
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 10px;

          @include tamanho-tela(celular) {
            font-size: 1.2rem;
            text-align: left;
          }
        }

        .numeros {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40px, 45px));
          gap: 15px;

          .item {
            background-color: $dark;
            padding: 12px 0px;
            transition: .3s linear;

            p {
              font-size: 1.1rem;
              font-weight: 700;
            }
          }
        }
      }

      .finalizar {
        .button {
          width: 100%;
        }
      }
    }
  }
}

.finalizacao {
  display: none;
  margin-top: 60px;
  scroll-margin-top: 90px;

  &.active {
    display: block;
  }

  @include tamanho-tela(celular) {
    margin-top: 30px;
  }

  form {
    display: flex;
    flex-direction: column;

    @include tamanho-tela(celular) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    input {
      border: 3px solid $dark2;
      padding: 10px 20px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-size: 1.25rem;
      box-shadow: 4px 4px 4px rgba($dark, 0.25);

      @include tamanho-tela(celular) {
        margin: 0 30px 0px 0px;
      }
    }

    .button {
      width: 100%;
      margin: 10px 0 0 0;

      @include tamanho-tela(celular) {
        width: auto;
        margin: 20px 0 0 0;
      }

      @include tamanho-tela(tablet) {
        width: auto;
        margin: 0;
      }
    }
  }
}

.transacoes {
  margin-top: 60px;

  @include tamanho-tela(celular) {
    margin-top: 30px;
  }

  .bancos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include tamanho-tela(celular) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tamanho-tela(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tamanho-tela(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    .item {
      background-color: $sec;
      border: 3px solid $dark;
      border-radius: 15px;
      padding: 20px 20px;

      p {
        line-height: 1.4;
      }

      img {
        margin: 0 auto 20px auto;
      }
    }
  }
}

.funcionamento {
  margin-top: 60px;

  @include tamanho-tela(celular) {
    margin-top: 30px;
  }

  background-image: url('../images/background-como-funciona.png');
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;

  @include tamanho-tela(tablet) {
    background-repeat: no-repeat;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;

    @include tamanho-tela(tablet) {
      justify-content: space-between;

      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }

    .item {

      @include tamanho-tela(tablet) {
        max-width: 230px;
      }

      img {
        margin: 0 auto;
        max-height: 210px;
      }

      h5,
      p {
        font-size: 1.25rem;
        text-align: center;

        @include tamanho-tela(celular) {
          text-align: left;
        }
      }
    }

    .plus {
      display: none;

      @include tamanho-tela(tablet) {
        display: block;
        font-family: $font-sec;
        font-size: 100px;
        line-height: 1;
        color: $pri;
        margin: 20px auto 0 auto;

        &:last-child {
          display: none;
        }
      }
    }
  }

}
